:root {
  --primary-color: #141828;
  --secondary-color: #333333;
  --button-color: #348632;
  --button-hover-color: #4bcb4a;
  --button-disabled: #636363;
  --nav-bg: rgb(37, 37, 37);
  --shadow: 0 5px 24px rgba(0, 0, 0, 0.25);
  --font: "Roboto", Arial, sans-serif;
  --font-color: #ffffff;
  --font-hover: #183f5f;
  --bg-card: rgb(31, 31, 31);
  --border: 0.5px solid black;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  color: var(--font-color);
  background-color: var(--primary-color);
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: center !important;
  flex: auto;
  border: 0;
  width: 100%;
  height: 100%;
}

a:link,
a:visited {
  font-family: var(--font);
  font-size: 2.3vw;
  color: var(--font-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: var(--font-hover);
}

header {
    background-size: cover;
    background-position: center center;
    width: calc(100vw - 17px);
    margin-left: calc(50% - 50vw + 8.5px);
    margin-right: calc(50% - 50vw + 8.5px);
    height: 50%;
}

img {
  width: 100%;
  height: 50%;
}

button {
  background-color: var(--button-color);
  border: var(--border);
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  align-self: center;
  text-transform: uppercase;
  text-shadow: var(--shadow);
  font-size: 2.3vw;
  font-family: var(--font);
  font-weight: normal;
  color: var(--font-color);
  width: fit-content;
}

button:hover {
  background-color: var(--button-hover-color);
}

button:disabled {
  background-color: var(--button-disabled);
  opacity: 20%;
}

p {
  color: var(--font-color);
  font-size: 2.2vw;
  font-family: var(--font);
  text-shadow: var(--shadow);
}

h1 {
  font-size: 4.5vw;
  text-transform: uppercase;
  font-family: var(--font);
  color: var(--font-color);
  font-weight: normal;
  text-align: center;
  text-shadow: var(--shadow);
}

h2 {
  font-size: 3vw;
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: normal;
  color: var(--font-color);
  text-align: center;
  text-shadow: var(--shadow);
}

h3 {
  font-size: 2.5vw;
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: normal;
  color: var(--font-color);
  text-align: center;
  text-shadow: var(--shadow);
}

label {
  font-weight: bold;
  display: flex;
  color: white;
  margin-bottom: 5px;
  font-size: 3vw;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  padding: 0.5rem 2rem;
  font-size: 3vw;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  align-items: center;
}

.error {
  color: red;
  font-size: 2vw;
  margin-top: 0.25rem;
}

.MuiCard-root {
  position: relative !important;
  align-content: center !important;
  box-shadow: var(--shadow) !important;
  margin: 1rem 0.5rem !important;
  width: fit-content !important;
  padding: 0.6rem !important;
  border: var(--border) !important;
}

.MuiPaper-root {
  width: 85%;
  height: 100%;
  align-content: center;
  background-color: var(--secondary-color) !important;
  border: var(--border);
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: center !important;
  flex: auto;
}

.MuiAccordion-root {
  margin: auto !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  width: 60%;
  height: 100%;
  box-shadow: var(--shadow) !important;
  border: 0.5px solid black !important;
}
