.Cabecera{
    margin: 0;
    box-sizing: border-box;
    background-color: #010619!important;
    border-bottom: 1px solid #1F253F;
    padding: 1rem !important;
    height: 5rem;
    width: auto;
    align-items: center !important;
}