
.formulario__boton{
  background-color: #348632 ;
  border: 1px solid black ;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.2rem ;
  padding: 0.3rem 1rem;
  font-family: "Roboto", Arial, sans-serif ;
  font-weight: normal ;
  color: rgb(255, 255, 255);
  display: block;
}

.formulario__boton:hover{
  background-color: #4BCB4A ;
  border: 1px solid black;
}


