.main__texto{
    font-size: 2rem !important;
    padding: .3rem 2rem !important;
    text-transform: uppercase !important;
    font-family: "Roboto", Arial, sans-serif !important;
    font-weight: normal !important; 
    color: white !important;
    text-align: center !important;
  }

  .main__h2{
    font-size: 1.2rem !important;
    padding: .3rem 2rem !important;
    text-transform: uppercase !important;
    font-family: "Roboto", Arial, sans-serif !important;
    font-weight: bold !important;
    color: white !important; 
    text-align: center !important;
  }

  .main__boton{
      align-self:baseline !important ;
  }